:root{
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}



*, *::after, *::before{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  min-height:100vh;
  line-height:1.5;
  -webkit-font-smoothing:antialiased;
  background : #CBD5E1;
}

img, picture, video, canvas, svg{
  display:block;
  max-width:none; /* important so image keeps full width */
}

button, input, textarea, select{
  font:inherit;
}

a{
  text-decoration:none;
  color:inherit;
}


/* Background layer */

#z0{
  display : none;
  position:fixed;
  inset:0;
  z-index:0;
  background:white;
  overflow:hidden;
  justify-content : center;
  align-items : center;
}

#z1{
  position:relative;
  z-index:1;
  min-height:100vh;
}




.loopTrack {
  position: absolute;
  display: flex;
  width: max-content;
  height: 80%;
  animation : slideLoop 12s linear infinite;
}



